.banner-principal {
	width: 100%;

	height: 300px;
	display: flex;
}
.banner-box {
	position: absolute;
	width: 86%;
	height: 223px;
	left: 7%;
	top: 171px;
}
.banner-img {
	position: absolute;
	width: 100%;
	min-width: 345px;
	height: 100%;
	border-radius: 25px;
	z-index: 1;
}
.banner-calc {
	position: absolute;
	width: 100%;
	min-width: 345px;
	height: 100%;
	border-radius: 25px;
	z-index: 2;
	background: #000000;
	mix-blend-mode: darken;
	opacity: 0.3;
}
.banner-h1 {
	position: absolute;
	width: 60%;
	right: 18%;
	top: 22%;
	font-family: "Montserrat";
	font-weight: normal;
	font-size: 48px;
	z-index: 2;
	color: #ffffff;
}

@media (max-width: 900px) {
	.banner-h1 {
		width: 60%;
		right: 13%;
		top: 18%;
		font-size: 44px;
	}
}
@media (max-width: 600px) {
	.banner-h1 {
		width: 70%;
		right: 10%;
		top: 18%;
		font-size: 30px;
	}
}
