.MenusLogement {
	display: flex;
	width: 100%;
}
.MenusLogement50 {
	display: flex;
	width: 50%;
}
.MenuG {
	width: 85%;
	display: flex;
	flex-direction: column;
	margin: 25px 0 25px 6.5%;
}
.MenuG .MenuHide {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 142.6%;
	color: #ff6060;
}
.MenuD {
	width: 85%;
	display: flex;
	flex-direction: column;
	margin: 25px 6.5% 25px 0;
}
.LogementInfos {
	display: flex;
	flex-direction: row;
}
.MenuD .MenuHide {
	padding-left: 0;
}
.ListEquipements {
	padding-left: 20px;
	list-style-type: none;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 142.6%;
	color: #ff6060;
}
@media (max-width: 600px) {
	.LogementInfos {
		display: flex;
		flex-direction: column;
	}
}
